<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>anna fuenmayor</title>
  <link rel="stylesheet" href="assets/css/monochrome.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Inconsolata" rel="stylesheet">
  <link href="https://cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css" rel="stylesheet">
</head>
<body>

<!--Main menu-->
  <div class="menu">
    <div class="container">
      <div class="row">
        <div class="menu__wrapper d-none d-lg-block col-md-12">
          <nav class="">
            <ul>
              <li><a href="#hello">About</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="#portfolio">Portfolio</a></li>
              <!-- <li><a href="#testimonials">testimonials</a></li> -->
              <!-- <li><a href="#blog">blog</a></li> -->
              <li><a href="#contact">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="menu__wrapper col-md-12 d-lg-none">
          <button type="button" class="menu__mobile-button">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
<!--Main menu-->

<!-- Mobile menu -->
  <div class="mobile-menu d-lg-none">
    <div class="container">
      <div class="mobile-menu__close">
        <span><i class="mdi mdi-close" aria-hidden="true"></i></span>
      </div>
      <nav class="mobile-menu__wrapper">
        <ul>
          <li><a href="#hello">About</a></li>
          <li><a href="#resume">Resume</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <!-- <li><a href="#testimonials">testimonials</a></li> -->
          <!-- <li><a href="#blog">blog</a></li> -->
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
<!-- Mobile menu -->

<!--Header-->
  <header class="main-header" style="background-image: url(assets/img/tracks.door.jpg)">
    <div class="container">
      <div class="row personal-profile">
        <!-- <div class="col-md-4 personal-profile__avatar">
          <img class="" src="http://via.placeholder.com/350x400" alt="avatar">
        </div> -->
        <div class="col-md-8">
          <p class="personal-profile__name">Anna Fuenmayor_</p>
          <p class="personal-profile__work">fullstack developer</p>
          <div class="personal-profile__contacts">
            <dl class="contact-list contact-list__opacity-titles">
              <dt>Email:</dt>
              <dd><a href="mailto:fuenmayor.anna521@gmail.com">fuenmayor.anna521@gmail.com</a></dd>
              <dt>Location:</dt>
              <dd>New York, NY</dd>
            </dl>
          </div>
          <p class="personal-profile__social">
            <a href="https://github.com/senilefork/" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/anna-fuenmayor-8674561a7/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
            <!-- <a href="" target="_blank"><i class="fa fa-facebook-square"></i></a>  -->
          </p>
        </div>
      </div>
    </div>
  </header>
<!--Header-->

<!--Hello-->
  <section id="hello" class="container section">
    <div class="row">
      <div class="col-md-10">
        <h2 id="hello_header" class="section__title">Hi_</h2>
        <p class="section__description">
          I am fullstack web developer able to build applications from the ground up - from concept, navigation,
          layout and programming to UX and database design. Skilled at writing well-designed, testable and efficient code using
          current best practices in web development. Fast learner, hard worker and team player who is proficient in
          a variety of scripting languages.
        </p>
        <a href="assets/img/Anna-Fuenmayor-Resume-2021.pdf" class="section_btn site-btn"><img src="assets/img/img_btn_icon.png" alt="">Download CV</a>
      </div>
    </div>
  </section>
<!--Hello-->

  <hr>

<!--Resume-->
  <section id="resume" class="container section">
    <div class="row">
      <div class="col-md-10">
        <h2 id="resume_header" class="section__title">Resume_</h2>
        <!-- <p class="section__description">
          Lorem ipsum dolor sit amet, <i><b>communication</b></i> adipisicing elit, <i><b>helpful</b></i> eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <i><b>sence of
          humour</b></i> ullamco laboris nisi ut <i><b>honest</b></i> ea commodo consequat. Duis aute irure dolor in
          upper-intermediate english level velit  dolore eu ivivdtevoluptatem ontend developer.
        </p> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 section__resume resume-list">
        <h3 class="resume-list_title">education</h3>
        <div class="resume-list__block">
          <p class="resume-list__block-title">Springboard Software Engineering Career Track
          </p>
          <p class="resume-list__block-date">Feb 2021 - Oct 2021</p>
          <p>
            700+ hours of hands-on course material with 1:1
            industry expert mentor oversight.
            Mastered skills in front-end web development, backend web development, databases, and data structures and algorithms.
          </p>
        </div>
        <div class="resume-list__block">
          <p class="resume-list__block-title">CUNY Baccalaureate for Unique and Interdisciplinary Studies</p>
          <p class="resume-list__block-date">Sep 2012 - Jun 2018</p>
          <p>Bachelor of Science, Biology, General/Art</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 section__resume resume-list">
        <h3 class="resume-list_title">experience</h3>
        <div class="resume-list__block">
          <p class="resume-list__block-title">Self Employed Content Management/Website Design</p>
          <p class="resume-list__block-date">March 2020 - present
          </p>
           <ul style="list-style: disc;">
             <li>Worked on a freelance basis doing content
              management and website design for small businesses
              using various cms platforms such as Wordpress, Wix,
              GoDaddy Website Builder.</li>
              <li>Updated and modified custom themes to work
                responsively for mobile use and utilized various
                plugins in accordance with specific needs of clients.</li>
           </ul>
        </div>
      </div>
    </div>
    <div class="row section__resume progress-list js-progress-list">
      <div class="col-md-12">
        <h3 class="progress-list__title">general skills</h3>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">html css JavaScript</span>
            <!-- <span class="progress-list__skill-value">80%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" >
            </div>
          </div>
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">Node.js</span>
            <!-- <span class="progress-list__skill-value">70%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">Python</span>
            <!-- <span class="progress-list__skill-value">90%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">React</span>
            <!-- <span class="progress-list__skill-value">80%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">D3.js</span>
            <!-- <span class="progress-list__skill-value">80%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 mr-auto">
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">Postgresql</span>
            <!-- <span class="progress-list__skill-value">80%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">Express</span>
            <!-- <span class="progress-list__skill-value">60%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">Flask</span>
            <!-- <span class="progress-list__skill-value">90%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">Git</span>
            <!-- <span class="progress-list__skill-value">80%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>   
        </div>
        <div class="progress-list__skill">
          <p>
            <span class="progress-list__skill-title">SQL</span>
            <!-- <span class="progress-list__skill-value">80%</span> -->
          </p>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>   
        </div>
      </div>
    </div>
  </section>
<!--Resume-->

<!--Portfolio-->
  <section id="portfolio" class="container section">
    <div class="row">
      <div class="col-md-12">
        <h2 id="portfolio_header" class="section__title">My projects_</h2>
      </div>
    </div>
    <div class="row portfolio-menu">
      <div class="col-md-12">
        <nav>
          <ul>
            <li><a href="" data-portfolio-target-tag="all">all</a></li>
            <li><a href="" data-portfolio-target-tag="fullstack">fullstack</a></li>
            <li><a href="" data-portfolio-target-tag="video-games">video-games</a></li>
            <!-- <li><a href="" data-portfolio-target-tag="landing-pages">landing pages</a></li> -->
          </ul>
        </nav>
      </div>
    </div>
    <div class="portfolio-cards">
      <div class="row project-card" data-toggle="modal" data-target="#portfolioModal" data-portfolio-tag="fullstack">
        <div class="col-md-6 col-lg-5 project-card__img">
          <img class="" src="assets/img/covid-tracker.png" alt="project-img">
        </div>
        <div class="col-md-6 col-lg-7 project-card__info">
          <h3 class="project-card__title">COVID-19 Dashboard</h3>
          <p class="project-card__description">
            COVID-19 Dashboard inspired by the Johns Hopkins Carona Virus tracker. Implemented with React, D3.js and CSS on the front end and Node.js, Express and Postgresql on the back end. 
          </p>
          <p class="project-card__stack">Used stack:</p>
          <ul class="tags">
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
            <li>Node.js</li>
            <li>D3.js</li>
            <li>Express</li>
            <li>Postgresql</li>
          </ul>
          <a href="https://workable-pencil.surge.sh/" class="project-card__link">www.workable-pencil.surge.sh</a>
        </div>
      </div>
      <div class="row project-card"  data-toggle="modal" data-target="#portfolioModal2" data-portfolio-tag="fullstack">
        <div class="col-md-6 col-lg-5 project-card__img">
          <img class="" src="assets/img/jobly.png" alt="project-img">
        </div>
        <div class="col-md-6 col-lg-7 project-card__info">
          <h3 class="project-card__title">Job Application Website</h3>
          <p class="project-card__description">
            Job application website allows users to search through a database of companies that have job postings and apply to positions that are posted.       
          </p>
          <p class="project-card__stack">Used stack:</p>
          <ul class="tags">
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>Postgresql</li>
          </ul>
          <a href="https://shocking-bag.surge.sh/" class="project-card__link">www.shocking-bag.surge.sh</a>
        </div>
      </div>
      <div class="row project-card"  data-toggle="modal" data-target="#portfolioModal3" data-portfolio-tag="fullstack">
        <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="assets/img/real-estate.png" alt="project-img">
      </div>
        <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">Real Estate Application</h3>
        <p class="project-card__description">
          Designed, implemented and deployed full stack real estate application with full CRUD functionality.<br/><br/>
          Python Flask web framework, Postgresql database
          Vanilla Javascript, HTML, CSS frontend with AJAX
          Google maps API integration.
        </p>
        <p class="project-card__stack">Used stack:</p>
        <ul class="tags">
          <li>HTML</li>
          <li>CSS</li>
          <li>Vanilla JavaScript</li>
          <li>Python</li>
          <li>Flask</li>
          <li>Postgresql</li>
        </ul>
        <a href="https://capstone1-anna-f.herokuapp.com/login" class="project-card__link">www.capstone1-anna-f.herokuapp.com</a>
      </div>
      </div>
      <div class="row project-card"  data-toggle="modal" data-target="#portfolioModal4" data-portfolio-tag="video-games">
        <div class="col-md-6 col-lg-5 project-card__img">
        <img class="" src="assets/img/video-game.png" alt="project-img">
      </div>
        <div class="col-md-6 col-lg-7 project-card__info">
        <h3 class="project-card__title">Biology Video Game</h3>
        <p class="project-card__description">
          This is a project I made during the last year of my undergraduate studies. It is a video game that attempts to teach the user about a cell signalling pathway responsible for a cellular process known as autophagy. 
        </p>
        <p class="project-card__stack">Used stack:</p>
        <ul class="tags">
          <li>Unity</li>
          <li>C#</li>
          <li>Maya</li>
        </ul>
        <a href="https://senilefork.itch.io/autophagosome-formation" class="project-card__link">www.senilefork.itch.io/autophagosome-formation</a>
      </div>
      </div>
    </div>
  </section>
<!--Portfolio-->

<!--Contact-->
  <div class="background" style="background-image: url(assets/img/img_bg_main.jpg)">
    <div id="contact" class="container section">
      <div class="row">
        <div class="col-md-12">
          <p id="contacts_header" class="section__title">Get in touch_</p>
        </div>
      </div>
      <div class="row contacts">
        <div class="col-md-5 col-lg-4">
          <div class="contacts__list">
            <dl class="contact-list">
              <dt>Email:</dt>
              <dd style="word-break:break-all;"><a href="mailto:fuenmayor.anna521@gmail.com">fuenmayor.anna521@ gmail.com</a></dd>
            </dl>
          </div>
          <div class="contacts__social">
            <ul>
              <li><a href="https://www.linkedin.com/in/anna-fuenmayor-8674561a7/">Linkedin</a></li>
              <li><a href="https://github.com/senilefork">GitHub</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-7 col-lg-5">
          <div class="contacts__form">
            <p class="contacts__form-title">Or just write me a letter here_</p>
            <form class="js-form">
              <div class="form-group">
                <input class="form-field js-field-name" type="text" placeholder="Your name" required>
                <span class="form-validation"></span>
                <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
              </div>
              <div class="form-group">
                <input class="form-field js-field-email" type="email"  placeholder="Your e-mail" required>
                <span class="form-validation"></span>
                <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
              </div>
              <div class="form-group">
                <textarea class="form-field js-field-message" placeholder="Type the message here" required></textarea>
                <span class="form-validation"></span>
                <span class="form-invalid-icon"><i class="mdi mdi-close" aria-hidden="true"></i></span>
              </div>
              <button class="site-btn site-btn--form" type="submit" value="Send">Send</button>
            </form>
          </div>
          <div class="footer">
            <p>© 2021 Anna Fuenmayor. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--Contact-->

<!-- Portfolio Modal -->
  <div class="modal fade portfolio-modal" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-11 col-lg-9 ml-auto mr-auto">
        <p class="portfolio-modal__title">COVID-19 Dashboard</p>
        <img class="portfolio-modal__img" src="assets/img/covid-tracker.png" alt="modal_img">
        <p class="portfolio-modal__description">
          COVID-19 Dashboard inspired by the Johns Hopkins Carona Virus tracker.Implemented with React, D3.js and CSS on the front end and Node.js, Express and Postgresql on the back end.<br/><br/>
          The data comes from publicly available sources that are all sited in the websites description. The data is updated on a daily basis.
        </p>
        <div class="portfolio-modal__link">
          <a href="https://workable-pencil.surge.sh/">www.workable-pencil.surge.sh/</a>
        </div>
        <div  class="portfolio-modal__stack">
          <p class="portfolio-modal__stack-title">Using stack:</p>
          <ul class="tags">
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
            <li>Node.js</li>
            <li>D3.js</li>
            <li>Express</li>
            <li>Postgresql</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade portfolio-modal" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-11 col-lg-9 ml-auto mr-auto">
        <p class="portfolio-modal__title">Job Application Website</p>
        <img class="portfolio-modal__img" src="assets/img/jobly.png" alt="modal_img">
        <p class="portfolio-modal__description">
          Job application website allows users to search through a database of companies that have job postings and apply to positions that are posted.
          <br/><br/> 
          The application is built with React and CSS on the front end and deployed onsurge.sh. The backend is a Postgres database and Node/Express serverdeployed on Heroku.
        </p>
        <div class="portfolio-modal__link">
          <a href="https://shocking-bag.surge.sh/">www.shocking-bag.surge.sh</a>
        </div>
        <div  class="portfolio-modal__stack">
          <p class="portfolio-modal__stack-title">Using stack:</p>
          <ul class="tags">
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>Postgresql</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade portfolio-modal" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-11 col-lg-9 ml-auto mr-auto">
        <p class="portfolio-modal__title">Real Estate Application</p>
        <img class="portfolio-modal__img" src="assets/img/real-estate.png" alt="modal_img">
        <p class="portfolio-modal__description">
          Designed, implemented and deployed full stack real estate application with full CRUD functionality.
          <br/><br/>
          Python Flask web framework, Postgresql database
          Vanilla Javascript, HTML, CSS frontend with AJAX
          Google maps API integration
        </p>
        <div class="portfolio-modal__link">
          <a href="https://capstone1-anna-f.herokuapp.com/login">www.capstone1-anna-f.herokuapp.com</a>
        </div>
        <div  class="portfolio-modal__stack">
          <p class="portfolio-modal__stack-title">Using stack:</p>
          <ul class="tags">
            <li>HTML</li>
            <li>CSS</li>
            <li>Vanilla JavaScript</li>
            <li>Python</li>
            <li>Flask</li>
            <li>Postgresql</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade portfolio-modal" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-md-11 col-lg-9 ml-auto mr-auto">
        <p class="portfolio-modal__title">Biology Video Game</p>
        <img class="portfolio-modal__img" src="assets/img/video-game.png" alt="modal_img">
        <p class="portfolio-modal__description">
          This is a project I made during the last year of my undergraduate studies. It is a video game that attempts to teach the user about a cell signalling pathway responsible for a cellular process known as autophagy. <br/><br/>
          I am particularly fond of this project as this is what initially sparked my interest in programming. 

        </p>
        <div class="portfolio-modal__link">
          <a href="https://senilefork.itch.io/autophagosome-formation">www.senilefork.itch.io/autophagosome-formation</a>
        </div>
        <div  class="portfolio-modal__stack">
          <p class="portfolio-modal__stack-title">Using stack:</p>
          <ul class="tags">
            <li>Unity</li>
            <li>C#</li>
            <li>Maya</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- Portfolio Modal -->

  <script src="assets/js/jquery-2.2.4.min.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/menu.js"></script>
  <script src="assets/js/jquery.waypoints.js"></script>
  <script src="assets/js/progress-list.js"></script>
  <script src="assets/js/section.js"></script>
  <script src="assets/js/portfolio-filter.js"></script>
  <script src="assets/js/slider-carousel.js"></script>
  <script src="assets/js/mobile-menu.js"></script>
  <script src="assets/js/contacts.js"></script>
  <script src="assets/js/mbclicker.min.js"></script>
  <script src="assets/js/site-btn.js"></script>
  <script src="assets/js/style-switcher.js"></script>
</body>
</html>
